color{
   color: #A2FF86 ,
}
color1{
    color:#9AFF90,
}
color2{
    color: #92FF99,
}
color3{
    color: #8AFFA3,
}
color4{
    color: #82FFAC,
}
color5{
    color: #7AFFB6,
}
color6{
    color: #72FFBF,
}
color7{
    color: #6AFFC9,
}
color8{
    color: #62FFD2,
}
color9{
    color: #5AFFDC,
}