*{
    box-sizing: border-box;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}
html, body{
    margin: 0;
    padding: 0;
    background-color: #6a4227;
}
